body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  .blue3{
    width: 80px;
    background-color: blue;
    
  }
  .pol{
    display:flex;
    flex:1;
    flex-direction: row-reverse;
  }
  .red3{
    width: 80px;
    background-color: red;
 
  }
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  .red4{
    flex:1;
    background-color: red;
  }
  .blue4{
    width: 80px;
  
    background-color: blue;
  }
  .fiveth{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .red5{
    width: 40px;
    height: 40px;
    background-color: red;

  }
  .wrapper6{
    display: flex;
    height: 60px;
    background-color: red;
    margin-bottom: 20px;
  }
  .forblue{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
  }
  .blue6{
    width: 70px;
    height: 60px;
    background-color: blue;
  }
  .wrapper7{
    height: 60px;
    display: flex;
    background-color: blue;
    margin-bottom: 20px;
  }
  .green7{
    flex:1;
    height: 20px;
    background-color: green;
  }
  .seven{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .eight{
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
  }
  .f{
    background-color: orange;
    width: 80px; 
  }
  .nine{
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .d{
    background-color: green;
    width: 15px;
  }
  .wrapper9{
    display: flex;
    height: 60px;
    background-color: orange;
    margin-bottom: 20px;
  }
  /* TODO: Add CSS for the rest of your solution below */
  @media screen and (max-width: 768px) {
    .f{
      background-color: orange;
      width: 90px; 
      
    }
    .d{
      background-color: green;
      width: 30px;
    }
  }
